.main{
    width: 100%;
    height: 20rem;
    border-radius: 25px;
    font-size: 1.2rem;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    text-align: center;
}

.icon{
    font-size: 6rem;
    color:#4e4ed4;
    margin-bottom: 1rem;
}

.textBox{
    width:100%;
    height: auto;
}

.description{
    margin-top: 1rem;
  }

