.all{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1a1a1a;
    height: 100%;
    width: 100%
}

.twitterWidget {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0;
    color: white;
}

.contactText {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.mailIcon {
    font-size: 4rem;
}

.mailText {
    margin-left: -1.2rem;
    margin-top: 0.5rem;         
    color: white;
}

.socialMediaIcons{
    font-size: 4.8rem;
    margin: 0;
}
  
.icon{
    width: 0.5rem;
    color:white
}

.logoANDrights {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rights {
    font-size: 1rem;
    margin: 0;
    color: white;
}

.moonyLogo {
    width: 6.25rem;
    height: 6.25rem;
}