.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1a1a1a;
    height: 100%;
    width: 100%
}

.twitterWidget {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 80%;
}

.logo {
    margin: 0;
    color: white;
}

.contactText {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.mailText {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.socialMediaIcons{
    font-size: 1.5rem;
}
  
.icon{
    width: 0.2rem;
    margin: 0.2rem;
    color:white
}

.logoANDrights {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rights {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    color: white;
}

.moonyLogo {
    width: 3rem;
    height: 3rem;
}

.footerContainer {
    height: 100vh;
}
