.main{
  width: 80%;
  height: 100%;
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  #4e4ed4;
}

.cardContainer{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.missionStatement{
  height: 10rem;
  color:white;
  padding-right:15rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.description{
  font-weight:400;
}

