.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 576px) {
  .intro {
    height: auto;
  }
}


.title {
  margin-bottom: 2rem;
  line-height: 1.15;
  font-size: 4rem;
  justify-content: left;
}

.description {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.rocketSection {
  width: 40%;
  height: 25rem;
  display:flex;
  margin-bottom: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.rocketLogo{
  font-size: 15rem;
}

.moonyTitle {
  color: #4e4ed4;
}

.registerInput{
  width: 20rem;
  height: auto;
  display: flex;
  margin-top: rem;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.icon{
  margin-right: 3rem;
  color:#4e4ed4;
}

.subtitle{
  font-size: 1rem
}

.inputButton, .inputButtony:hover {
  width: 6rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-color: #4e4ed4 !important;
  border-color: #4e4ed4 !important;
}

.inputButton:hover{
  background-color:#4e4ed4 ;
}

.timebox{
  border: 0.2rem solid  #4e4ed4;
  font-size: 1.75rem;
  width:3.125rem;
  height: 3.125rem;
  margin-right:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.dateInfo{
font-size: 0.8rem;
color: #4e4ed4;
font-weight: bold;
}

.inputLabel{
  font-size: 2rem;
  margin-bottom: -5rem;
}

.registerStyle{
  width: 100%;
  max-width: 22.5rem;
  padding: 1rem;
  color:#4e4ed4;
  box-shadow: rgba(78, 78, 212, 0.2) 0px 4px 12px;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 9em;}
}

@keyframes typewriter2{
  from{width: 0;}
  to{width: 40em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}

.delirio{
    width: 12em;
    border-right: 2px solid #4e4ed4;
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    animation: 
      typewriter 2s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;   
}

.title {
  margin-bottom:2rem;
  line-height: 1.15;
  font-size: 3rem;
  justify-content: left;
}

.subtitle{
  font-size: 1.5rem;
}

.imgStyle{
  padding: 10px;
  border-radius: 25px;
  transform:
    perspective(800px)
    rotateY(-25deg) scale(0.9)
    rotateX(15deg);
  opacity: 1;
}

.registerBox{
  border: 1px solid black;
  height: 6rem;
  width: 6rem;
}

.referralCode{
  border: 1px solid black;
}

.registerRow{
  margin-top: 1rem;
}






