.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
  margin-bottom:2rem;
  line-height: 1.15;
  font-size: 4rem;
  justify-content: left;
}

.description {
  width: 60%;
  height: 25rem;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6rem;
}

.rocketSection {
  width: 40%;
  height: 25rem;
  display:flex;
  margin-bottom: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.rocketLogo{
  font-size: 15rem;
}

.moonyTitle {
  color: #4e4ed4;
}

.registerInput{
  width: 20rem;
  height: 2.5rem;
  display: flex;
  margin-top: 2rem;
  justify-content: left;
  align-items: center;
}

.icon{
  margin-right: 3rem;
  color:#4e4ed4
}

.subtitle{
  font-size: 1.5rem
}

.inputButton{
  width: 6rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-color: #4e4ed4;
}

.inputButton:hover{
  background-color:#4e4ed4 ;
}

.timebox{
  border: 0.2rem solid  #4e4ed4;
  font-size: 1.75rem;
  width:3.125rem;
  height: 3.125rem;
  margin-right:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.dateInfo{
font-size: 0.8rem;
color: #4e4ed4;
font-weight: bold;
}

.inputLabel{
  font-size: 2rem;
  margin-bottom: -5rem;
}

.registerStyle{
  width: 30rem;
  padding: 1rem;
  margin-top: 4rem;
  color:#4e4ed4;
box-shadow: rgba(78, 78, 212, 0.2) 0px 4px 12px;}

.imgStyle{
  transform:
  perspective(800px)
  rotateY(-30deg) scale(0.9)
  rotateX(15deg);
  opacity: 1;
  transition: 0.6s ease all;
}

